@import url('https://fonts.googleapis.com/css?family=Nunito:400,800');

$breakpoint: 720px;
$medium: 768px;
$large: 1216px;

$colorDark: #274263;
$colorMedium: #76879d;
$colorLight: #bdc5cf;
$colorPrimary: #f17a8e;
$colorWhite: #fff;
$fontFamily: Nunito, sans-serif;

html {
  height: 100%;
}

body {
  @media(min-height: $medium) {
    height: 100%; 
  }
  background: linear-gradient(to bottom right, #f5f2fd, #bfcbda);
}
.button{
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s;
  &:hover{
  opacity: 1;
}
}

.map{
  width: 80%;
  height: 80%;
}

iframe{
  width: 100%;
  height: 100%;
}

.sum, .detl{
  cursor: pointer;

  &:hover{
    color: #274263;
  }
}

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input{
  width: 30%;
  border-color: #dbdbdb ;
}

.modal{
  display: flex;
  align-items: center;
  z-index: 100;
}

.cardscon{
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 15px;
}

.cardscon::-webkit-scrollbar{
  display: none;
}

#app {
  font-family: $fontFamily;
  background: linear-gradient(to bottom right,#f5f2fd,#bfcbda);
  @extend .flex-center;
}

.containerBox{
  width: 95%;
}

#app .containerBox,
#app .columns {
  height: 100%;
}

#app .menu {
  height: 100%;
  background: linear-gradient(to bottom right,#f8a3a4,#e2587c);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.menu-list__profile {
  padding: 4.0rem 3.0rem;
  
  .image {
    height: 80px;
    width: 80px;
  }

  .image img {
    border-radius: 50px;
  }

  .subtitle {
    padding-top: 0.8rem;
  }
  @extend .flex-center;
}

.menu-list__main {
  width: 70%;
  margin: 0 auto;
}

.menu-list__main li {
  padding: 0.5rem 0;
  
  .fas, .far {
    width: 35px;
    font-size: 1.3rem;
    padding-right: 0.9rem;
  }

  a {
    color: $colorWhite;
    display: inline-flex;
    align-items: center;
    letter-spacing: 0.1rem;
    font-weight: 800;
    opacity: 0.6;
  }
  
  a.active {
    opacity: 1.0;
  }
  
  a:hover {
    background-color: inherit;
    color: #FFF;
    opacity: 1.0;
  }
}

.menu-list__outlier {
  margin-top: 10.0rem;
}

#app .dashboard {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom right,#f9fafb,#dfe4eb);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  @extend .flex-center;
}

.dashboard__content {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  
  .header {
    display: block;
    height: 100px;
    margin-top: 3.0rem;
  }
  
  .row {
    margin: 1.0rem 0;
  }
  
  .bottom-row {
    margin-bottom: 3.0rem;
  }
}

.card { 
  border-radius: 0.2rem;
  box-shadow: initial;

  .media {
    margin-bottom: 1.7rem !important;
 
    .image img {
      border-radius: 30px;
    }
  }

  .title {
    font-size: 0.9rem;
    letter-spacing: 1px;
    padding-bottom: 0.5rem;
  }
  
  .subtitle {
    margin-bottom: 1.0rem;
  }
  
  .content {
    transition: all 1s;
  }
}

// Helper Classes
.font-color-dark {
  color: $colorDark;  
}

.font-color-medium {
  color: $colorMedium;
}

.font-color-light {
  color: $colorLight;
}

.font-color-primary {
  color: $colorPrimary;
}

.font-color-white {
  color: $colorWhite;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Media Responsiveness

@media(min-width: $breakpoint) and (max-width: $large) {
  .menu-list__profile {
    flex-direction: column;
    
    .title {
      padding-top: 0.5rem;
    }
    
    .subtitle {
       padding-top: 0;
    }
  }

  .card {
    max-width: 100%;
    margin: 0 auto;
  }
}


@media(max-width: $large) {
  .menu-list__profile {
    flex-direction: column;
    
    .title {
      padding-top: 0.5rem;
    }
    
    .subtitle {
       padding-top: 0;
    }
  }
  
  .media-content {
    text-align: center;
  }

  .card {
    .card-content {
      padding: 1.0rem;
    }
    
    .card .title {
      font-size: 0.7rem;
    }
    
    .content {
      font-size: 0.9rem;
    }
  }
}

@media(min-width: $medium) {
  #app .containerBox {
    padding: 1.0rem 0;
  }
  
  .dashboard__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media(min-width: $breakpoint) {
  .columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .columns>.column.is-3 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 25%;
  }
}

@media(min-width: $breakpoint) and (max-width: 840px) {
  .menu-list__profile .subtitle {
    font-size: 0.6rem;
  }
  
  .menu-list__main li .fas {
    font-size: 1.1rem !important;
  }

  .menu-list__main li a {
    font-size: .60rem !important;
  }
}

@media(max-width: $breakpoint) {
  #app .containerBox {
    width: 100%;
  }
  
  .menu-list__main {
    display: flex;
    justify-content: center;
  }
  
  .card {
    max-width: 350px;
    margin: 0 auto;
    
    .media {
      margin-bottom: .75rem !important;
    }
    
    .media .media-left {
      margin: 0 auto;
    }
  }
}

// For thumbnail preview; hack :P
@media(max-width: $large) and (max-height: $medium) {
  #app .containerBox {
    padding: 0;    
  }

  .menu-list__profile {
    padding: 2.0rem 2.0rem;
    
    .title {
      font-size: 1.0rem !important;
    }
  }

  .media-left {
    margin-right: 0.5rem;
  }
    
  .media-content .title {
    font-size: 0.65rem;
  }
  
  .menu-list__main li .fas {
    font-size: 1.1rem !important;
  }

  .menu-list__main li a {
    font-size: .60rem !important;
  }
  
  .menu-list__outlier {
    margin-top: 1.5rem;
  }
  
  .card .content {
    font-size: 0.7rem;
    padding-bottom: 0.2rem; 
  }
}